include readme.md
include LICENSE
recursive-include UniversalSpeech/lib *.dll *.tlb
recursive-include UniversalSpeech/lib64 *.dll *.tlb
global-exclude ZDSRAPI.dll
global-exclude *.py[cod]
global-exclude __pycache__
prune tests
